/*
div {
    font-size: 30px;
}
*/

* {
    font-size: 15px;
    color:#fff;
    font-family: verdana;
}

form {
    background-color: #213b50;
    padding: 20px;
}

input, select, textarea {
    background-color: #2b4a64;
    border: 0;
    margin: 5px;
}

input[type="submit"] {
    background-color: greenyellow;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}

input[type="text"], input[type="email"], select[name="miasto"], textarea {
    width:300px;
}

input:focus, textarea:focus, select:focus {
    background-color: #4e708c;
    border: 1px solid white;
    outline: none;
}

#plec_mezczyzna {
    margin-bottom: 20px;
}

