body,html {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
    margin: 0;
    width: 100%;
    padding: 0;
}

h1 {
    font-size: 15vh;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 8vh;
    font-weight: 300;
    margin: 0;
    padding-bottom: 20px;
}

h3 {
    font-size: 6vh;
    font-weight: 400;
    margin: 0;
}

h4 {
    font-size: 4vh;
    font-weight: 400i;
    margin: 0;
}

span {
    color: #1ac056;
    font-weight: 500;
}

section {
    text-align: center;
}



/*STYLES FOR MENU START*/
#menu {
    background-color: #fff;
    border: none;
}

#menu_list a {
    color: #1ac056;
}

#menu li>a:hover {
    color: #291f1a;
}
/*STYLES FOR MENU STOP*/





/*STYLES FOR HEADER START*/
#main_header {
    background-image: url("../img/header-background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#main_header>.main_header_content {
    padding: 35vh 0;
    text-align: center;
    color: #fff;
}
/*STYLES FOR HEADER STOP*/





/*STYLES FOR ABOUT START*/
#about {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #f9fcfe;
}

#about .about_image {
    margin: 0;
    text-align: center;
}

#about .about_content {
    text-align: left;
}

#about figure > img {
    max-height: 350px;
    border: 14px #fff solid;
    border-radius: 15px;
}
/*STYLES FOR ABOUT STOP*/





/*STYLES FOR SKILLS START*/
#skills {
    padding-top: 20px;
}
/*STYLES FOR SKILLS STOP*/





/*STYLES FOR PORTFOLIO START*/
#portfolio {
    padding: 5%;
}

.portfolio_items {
    text-align: center;
    font-size: 0;
}

.single_portfolio_item {
    padding: 0;
    position: relative;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#portfolio_item_1 {background-image: url(../img/portfolio1.jpg);}

#portfolio_item_2 {background-image: url(../img/portfolio2.jpg);}

#portfolio_item_3 {background-image: url(../img/portfolio3.jpg);}

.single_portfolio_item_mask {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(42, 61, 79, 0.8);
    font-size: initial;
}

.single_portfolio_item_mask:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.single_portfolio_item_mask_content {
    position: relative;
    height: 330px;
    margin: 10px;
    border: 1px solid #fff;
}

.single_portfolio_item_mask_content_inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
}

.single_portfolio_item_mask_content_inner>a {font-size: 2rem;}

.single_portfolio_item_mask_content_inner>a:visited {color: #fff;}

.single_portfolio_item_mask_content_inner>a:hover {color: #1ac056;}
/*STYLES FOR PORTFOLIO STOP*/





/*STYLES FOR CONTACT START*/
#contact {
    background-color: #213b50;
    color: #fff;
    overflow: hidden;
    text-align: left;
    padding-bottom: 15px;
}

#contact .contact_data {
    box-sizing: border-box;
    padding: 60px;
}

#contact>.contact_data>h2 {
    text-align: left;
    font-size: 38px;
    margin-top: 30px;
}

#contact adress {
    font-style: normal;
    line-height: 25px;
    padding-bottom: 72px;
}

#contact adress>a {
    color: #1ac056;
}

#contact article>a {
    display: inline-block;
    height: 38px;
    width: 38px;
    margin-top: 30px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #fff;
    font-size: 22px;
}

#contact article>a:hover {
    border-color: #213b50;
    background-color: #fff;
}

#contact article>a:hover i{
    color: #213b50;
}

#contact article>a:visited {
    color: #fff;
}

#contact .contact_form {
    padding: 60px 15px 15px;
}

#contact input[name], #contact textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 0 #2b4a64;
    background-color: #2b4a64;
}

#contact input[name]:focus, #contact textarea:focus {
    background-color: #426684;
}

form>input[type="submit"] {
    width: auto;
    padding: 15px 30px;
    float: right;
    border: 1px solid #1ac056;
    background-color: #1ac056;
}
/*STYLES FOR CONTACT STOP*/





/*STYLES FOR FOOTER START*/
footer {
    background-color: #142634;
    padding: 15px 0;
    color: #fff;
}

footer p {
    margin: 0;
}
/*STYLES FOR FOOTER STOP*/